fastapi==0.134.0
uvicorn==0.41.0
python-dotenv==1.2.1

# LangChain ecosystem
langchain==0.3.25
langchain-community==0.3.24
langchain-text-splitters==0.3.11

# Integrations
langchain-chroma==0.2.4
langchain-groq==0.3.6
langchain-neo4j==0.5.0
langchain-ollama==0.3.10

# Databases
chromadb==1.5.2
neo4j==5.28.1

# ML
transformers==4.51.3
torch==2.7.0
accelerate==1.12.0

# Utils
pydantic==2.12.5
pydantic-settings==2.13.1
httpx==0.28.1
aiohttp==3.13.3
requests==2.32.4

# Parsing
beautifulsoup4==4.14.3
pypdf==5.5.0
python-multipart==0.0.22

# Misc
tenacity==9.1.2

youtube-transcript-api
boto3
edge-tts
mutagen
motor
PyJWT

pypdfium2
python-docx
python-pptx